* {
  margin: 0;
  padding: 0;
}

.form-container form, .boas-vindas {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form-container {
  display: flex;
  height: 100vh;
}

.boas-vindas {
  background-color: rebeccapurple;
  color: white;
}

.boas-vindas h1 {
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 55px;
}

.boas-vindas p {
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 20px;
}

.logoLogin {
  text-align: center;
}

.logoLogin h2 {
  font-size: 30px;
}

.logoLogin img {
  margin-bottom: 20px;
  width: 250px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: max-content;
  width: 350px;
}

.form-group input {
  border: 1px solid rgb(172, 171, 171);
  border-radius: 5px;
  height: 45px;
  padding: 10px;
  width: 100%;
}

.titulo-login {
  color: rebeccapurple;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 45px;
  margin-bottom: 7px;
}

.button-group-login {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 350px;
}

.button-group-login button {
  border-radius: 5px;
  font-weight: 700;
  padding: 10px;
  width: 100%;
}

.criar-conta-btn {
  background: none;
  background-color: rebeccapurple;
  border: 2px solid rebeccapurple;
  color: white;
  cursor: pointer;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
}

.login-btn {
  background-color: rebeccapurple;
  border: none;
  color: white;
  cursor: pointer;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  height: 45px;
  margin-top: 10px;
}

.login-btn:disabled {
  background-color: rgb(196, 160, 233);
  color: white;
}

.invalid {
  color: red;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  padding-top: 10px;
}

.logo-login2 {
  display: none;
  margin-bottom: 5%;
  width: 200px;
}

@media ( max-width : 869px ) {

  .boas-vindas {
    display: none;
  }

  .form-container {
    display: flex;
    height: 80vh;
  }

  .titulo-login {
    display: none;
  }

  .logo-login2 {
    display: block;
  }

  .form-group {
    width: 90%;
  }

  .button-group-login {
    width: 90%;
  }
}
