@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap') ;

.title-cadastro {
  font-family: "Poppins";
  font-size: 40px;
  margin-bottom: 20px;
}

.cad-btn {
  margin-top: 20px;
  background-color: rebeccapurple;
  padding: 12px;
  width: 350px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Poppins";
}

.cad-btn:disabled {
  background-color: rgb(196, 160, 233);
}

@media ( max-width : 869px ) {

  .container-register-button {
    width: 90%;
  }

  .cad-btn {
    width: 100%;
  }

  .title-cadastro {
    font-size: 30px;
    margin-bottom: 20px;
  }

}
