.title-cadastro {
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
}

.cad-btn {
  background-color: rebeccapurple;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-weight: 700;
  margin-top: 20px;
  padding: 12px;
  width: 350px;
}

.email-utilizado {
  margin-top: 20px;
}

.cad-btn:disabled {
  background-color: rgb(196, 160, 233);
}

@media ( max-width : 869px ) {

  .container-register-button {
    width: 90%;
  }

  .cad-btn {
    width: 100%;
  }

  .title-cadastro {
    font-size: 30px;
    margin-bottom: 20px;
  }

}
